.logo {
  width: 180px;
  min-width: 180px;
  height: 100%;
  margin-left: 12px;
}

.logo-dark {
  background: url('../../../../assets/images/fxyzdyjpgxt/dark.svg') 100%
    no-repeat;
}

.logo-light {
  background: url('../../../../assets/images/fxyzdyjpgxt/light.svg') 100%
    no-repeat;
}

.title {
  font-size: 20px;
  width: 250px;
  padding-left: 30px;
}
