.container {
  width: 225px;
  position: absolute;
  top: 60px;
  left: 20px;
  z-index: 1;
  .cardItem {
    margin: 5px 0;
    padding: 3px 10px;
    border-radius: 5px;
    user-select: none;
    .collapseItem {
      margin: 0;
      border: 0;
      .checkbox {
        font-size: 0.75rem;
        color: rgba(255, 255, 255, 1);
      }
      .collapseItemHeader {
        display: flex;
        align-items: center;
        color: #fff;

        .ellipsis {
          margin-left: 10px;
        }
      }
      .collapseItemHeaderExtra {
        width: 100px;
        white-space: nowrap;
      }
    }
  }
}
